TOKEN=your_telegram_bot_token
RM_HOST=192.168.29.159
RM_PORT=22
RM_USER=perebikovskii
RM_PASSWORD=your_password
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=192.168.29.159
DB_PORT=5432
DB_DATABASE=email_phone
DB_REPL_USER=repl_user
DB_REPL_PASSWORD=your_password
DB_REPL_HOST=192.168.29.159
DB_REPL_PORT=5433
