TOKEN: "your_telegram_bot_token"
RM_HOST: "192.168.29.158"
RM_PORT: "22"
RM_USERNAME: "perebikovskii"
RM_PASSWORD: "your_password"
DB_USER: "postgres"
DB_PASSWORD: "your_password"
DB_DATABASE: "email_phone"
DB_HOST: "192.168.29.158"
DB_PORT: "5432"
DB_REPL_USER: "repl_user"
DB_REPL_PASSWORD: "your_password"
DB_REPL_HOST: "192.168.29.159"
DB_REPL_PORT: "5432"
POSTGRES_VERSION: "16"
